// =================================================================
// 	Mediapreview
// 	Colors
// =================================================================

$colorWhite: #FFF;
$colorType: #00285e;
$colorOne: #98c5e9;
$colorTwo: #00285e;
$colorThree: #00285e;
$colorFour: #CBD7D7;
$colorFive: #C4C8C5;
$colorGrey: #2f3133;

$colorGold: #f4bc46;